
body {
  text-align: center;
  background-color: #fadda3;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Playwrite AU SA", serif;
  font-size: 60px; 
  color:#b14cdc;
  overflow-y: hidden;
}

.SignButton{
  color: #655ac7;
  background-color: #ffacd7;
  margin: 2%;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  cursor: 'pointer';
  border-style: solid;
}

.buttons{
  display: flex;
  column-gap: 5px;
}

.main{
  display: 'flex' ;
  align-items: 'center';
  flex-Direction: 'row';
}

.topRow{
  justify-content: 'center';
  direction: 'row';
}

/* width and height changes must be updated inline */
.theMap {
  border: 8px solid orange;
  
}


.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* same here */
.searchBar {
  margin-bottom: 25px;
  text-align: center;
}

.middle{
  width: full;
  display: flex;
  justify-content: center;
  flex-direction: column;
  

}

.logoTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0%;
  margin-top: 0%;
}
.area{
  display: flex;
  justify-content: center;
  width: full;
}

.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.slide img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.slide p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.custom-arrow:hover {
  background: #f0f0f0;
}

.custom-prev {
  left: -40px; /* Position to the left */
}

.custom-next {
  right: -40px; /* Position to the right */
}
