body {
  text-align: center;
  background-color: #fadda3;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  font-family: "Playwrite AU SA", serif;
  font-size: 30px; 
  color:#b14cdc;
  font-weight: bold;
}

.SignButton{
  color: #655ac7;
  background-color: #ffacd7;
  margin: 2%;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  cursor: 'pointer';
  border-style: solid;
}

.buttons{
  display: flex;
  column-gap: 5px;
}

.main{
  display: 'flex' ;
  align-items: 'center';
  flex-Direction: 'row';
}

.topRow{
  justify-content: 'center';
  direction: 'row';
}

/* width and height changes must be updated inline */
.theMap {
  border: 8px solid orange;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* same here */
.searchBar {
  margin-bottom: 25px;
  text-align: center;
}